body h1 {
     color: blue;
     font-family: cursive;
     font-size: 20px ;
}

body {
	
    background-color: cream ;
    }

img {
   padding:1px;
   border:1px solid #021a40;
   
}

body a {

font-size: 20px;
color: blue;
font-family: cursive;

}
p {
	font : black;
}

a {
    color: black
     font-family: cursive;
     font-size: 10px ;


}