<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Lounge Movie Reviews</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css"></link>

</head>
<body>


	<h1>The Lounge Movie Genres</h1>
	<h2>Click on the title or the picture to see the review.</h2>
	<a th:each="review: ${genre.reviews}"
		th:href="@{/onereview/(id=${review.id})}"> <img
		th:src="${review.imageUrl}" width="300" height="150" />
		<div th:text="${review.title}"></div></a>
	<br />

	<form method="get">
		<label for="movieName">Add your own movie name to this genre:</label>
		<input type="text" th:field="${genre.title}" addvalue="" />
		<button type="submit">Submit</button>
	</form>

	<br />
	<a class="backtomain" th:href="@{/genres(title=${genresAsCollection})}">Back
		to Movie Lounge</a>

</body>
</html>
