<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<title>Single Movie Review</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css"></link>

</head>
<body>
<h1>Single Movie Review</h1>

 <img th:src="${selectedReview.imageUrl}"/>

<p th:text="${selectedReview.title}"></p>
<p th:text="${selectedReview.genre.title}"></p>
<p th:text="${selectedReview.content}"></p>
<p th:text="${selectedReview.date}"></p>
<p th:text="${selectedReview.synopsis}"></p>

<p> Click on any tag to go to the Tag Collection page</p>

<form>
		<input name="reviewId" type="hidden" th:value="${selectedReview.id}" />
		<ul>
			<li th:each="tag: ${selectedReview.tags}"><a th:href="@{/tags(id=${tag.id})}"><span th:text="${tag.name}" /></a>	
			<button name="tagId" th:value="${tag.id}" th:formaction="@{/delete}">delete</button></li>
		</ul>
	</form>

<form method="POST">
			<input name="id" type="hidden" th:value="${selectedReview.id}" />
	
		<label>Add a Tag: <input type="text" name="name" /></label>
		<br/>
		<button th:formaction="@{/createTag}">Create Tag</button>	
		</form>		

		<a class="backtomain" th:href="@{/genres(title=${genresAsCollection})}">Back
		to Movie Lounge</a>


<br />
</body>
</html>