<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<title>One Lounge Review</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css"></link>

</head>
<body>
<h1>One Lounge Review</h1>

 <img th:src="${selectedReview.imageUrl}"/>

<p th:text="${selectedReview.title}"></p>
<p th:text="${selectedReview.genre.title}"></p>
<p th:text="${selectedReview.content}"></p>
<p th:text="${selectedReview.date}"></p>
<p th:text="${selectedReview.synopsis}"></p>

<p>Click the button to demonstrate the prompt box.</p>

<button onclick="myFunction()">Click me to enter a review</button>

<p id="demo"></p>

<script>
function myFunction() {
    var review = prompt("Please enter a short review", "Your review goes here");
    if (review != null) {
        document.getElementById("demo").innerHTML =
        "Your review for the movie " + review + " will be added to the database !";
    }
}
</script>
<!-- <form>   
      <label for="reviewName">You can add your own review to this movie:</label> 
        <input type="text" value="" />
            <button type="submit">Submit</button>

</form> -->
<br />
<!-- <a class = "moviepage" th:href="@{/genre(title=${genre.id})}"> Go back to choose another movie</a>
<br /> -->
<a href="javascript:history.back()">Choose another movie/a>
<br/>
<a class = "backtomain" th:href="@{/genres(title=${genresAsCollection})}">Choose your genre</a> 

</body>
</html>